
<section class="container">
  <h1> <%= event.name %> </h1>
  <h3> <%= event.description %> </h2>
  <img class="event-image" src="<%= event.picture %>" alt="">
  <h3 class="event-attendees">Event Attendees</h3>
  <ul class="event-attendees">
    <% event.attendees.forEach((item) => { %>
      <li><%= item.username %></li>
    <% }) %>
  </ul>
  <h5>You will like it if you dig the <%= event.era %> era. </h5>

  <div class="display-event-buttons-container">
      <% if (amIattendee) { %> 
        <form method="POST" action="/events/<%=event._id %>/reject">
          <button class="button-small">Cancel</button>
        </form>
      <% } else { %> 
        <form method="POST" action="/events/<%=event._id %>/attend">
        <button class="button-small">Attend</button>
        </form> 
      <% } %>


      <% if (event.owner == currentUser._id) { %>
        <a class="button-small" href="/events/<%=event._id %>/delete">Delete</a>
        <a class="button-small" href="/events/<%=event._id %>/edit">Edit</a>
      <% } %> 
  </div>

</section>





 

