<a class="link-event-detail" href="/events/<%= item._id%>">
  <div class="container events"> 
    <h3><%= item.name %></h3>
    <img class="event-image" src="<%= item.picture %>" alt="<%= item.name %> image">
    <p><%= item.description %></p> 
  </div>
</a>